In [ ]:
#homework 17
import pandas as pd
money1=pd.read_csv("HW17__Data.csv")
total=len(money1['經常性薪資'])
print("行業筆數為:",total)
a=sum(money1['經常性薪資'])
print("經常性薪資的平均值為:%.2f"%(float(a)/total))
a=sum(money1['專業人員-經常性薪資'])
print("專業人員-經常性薪資的平均值為:%.2f"%(float(a)/total))
a=sum(money1['技術員及助理專業人員-經常性薪資'])
print("技術員及助理專業人員-經常性薪資的平均值為:%.2f"%(float(a)/total))
a=sum(money1['事務支援人員-經常性薪資'])
print("事務支援人員-經常性薪資的平均值為:%.2f"%(float(a)/total))
a=sum(money1['服務及銷售工作人員-經常性薪資'])
print("服務及銷售工作人員-經常性薪資的平均值為:%.2f"%(float(a)/total))
a=sum(money1['技藝_機械設備操作及組裝人員-經常性薪資'])
print("技藝_機械設備操作及組裝人員-經常性薪資的平均值為:%.2f"%(float(a)/total))
a=sum(money1['基層技術工及勞力工-經常性薪資'])
print("基層技術工及勞力工-經常性薪資的平均值為:%.2f"%(float(a)/total))

In [ ]:
#pandas023.py

import pandas as pd
s1 = pd.Series(range(10))
s2=s1.map(lambda x:x+10)
s3=s1.map(lambda x:x*-1)
print(s1)
print("--------------")
print(s2)
print("--------------")
print(s3)
print("--------------")

In [ ]:
#pandas023a.py

import pandas as pd
x = pd.Series([1,2,3], index=['one', 'two', 'three'])
y = pd.Series(['foo', 'bar', 'baz'], index=[1,2,3])
x1=x.map(y)
z = {1: 'A', 2: 'B', 3: 'C'}
x2=x.map(z)
print(x)
print("--------------")
print(y)
print("--------------")
print(x1)
print("--------------")
print(x2)
print("--------------")
print(z)
print("--------------")

In [ ]:
#pandas023b.py

import pandas as pd
data = pd.DataFrame({'food':['bacon','pulled pork','bacon','Pastrami',
            'Corned beef','Bacon','pastrami','honey ham','nova lox'],
                  'ounces':[4,3,12,6,7.5,8,3,5,6]})
meat_to_animal = {    'bacon':'pig', 'pulled pork':'pig', 'pastrami':'cow',
                  'corned beef':'cow','honey ham':'pig', 'nova lox':'salmon'    }
print(data)
print("--------------")
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
print(data)
print("--------------")
data['food'].map(lambda x: meat_to_animal[x.lower( )])
print(data)
print("--------------")

In [ ]:
#pandas023c.py

import pandas as pd
indexdate = pd.date_range('2018-09-25', periods=10)
s1 = pd.Series(list(range(10)), index=indexdate)
s2=s1.index.map(lambda x: x.day)
s3=s1.index.map(lambda x: x.weekday)
s4=s1.map(lambda x: x+10)
def f(x):
    if x < 5:
        return True
    else:
        return False
s5=s1.map(f)
print(s1)
print("--------------")
print(s2)
print("--------------")
print(s3)
print("--------------")
print(s4)
print("--------------")
print(s5)
print("--------------")

In [ ]:
#pandas025.py

import pandas as pd
import numpy as np
a = {'key1' : ['a', 'b', 'a', 'b', 'a', 'b', 'a', 'a'],
     'key2' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
     'data1': [2,3,4,5,6,7,8,1],
     'data2':[8,1,2,3,5,6,7,6]}
df1 = pd.DataFrame(a)
print(df1)
print("-------------------")

In [ ]:
#pandas025x.py

import pandas025
df2=pandas025.df1
print(type(df2.groupby('key1')))
print(type(df2['data1'].groupby(df2['key1'])))
print((df2['data1'].groupby(df2['key1'])))

In [ ]:
#pandas025b.py

import pandas025
df2=pandas025.df1
grouped2 = df2.groupby(['key1', 'key2'])
print(grouped2.size( ))
grouped3 =df2.groupby(['key2', 'key1'])
print(grouped3.mean( ))
print(grouped3.mean( ).unstack( ))

In [ ]:
#pandas025c.py

import pandas025a
print("-------start--------")
for group_name, group_data in pandas025a.grouped1:
    print(group_name)
    print(group_data)
for group_name, group_data in pandas025a.grouped2:
    print(group_name)
    print(group_data)

In [ ]:
#pandas027.py

import pandas as pd
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
print(df)
print("--------------------")

In [ ]:
#pandas027a.py

import pandas027
grouped = pandas027.df.groupby('Year')
for name,group in grouped:
    print(name)
    print(group)
print("------------------")
print(grouped.get_group(2014))

In [ ]:
#pandas025d.py

import pandas025a
print("-------start---------")
print(list(pandas025a.grouped1))
print("--------")
print(dict(list(pandas025a.grouped1)))
print("--------")

In [ ]:
#pandas026a.py

import pandas as pd
import numpy as np
df3 = pd.DataFrame(np.random.randint(1, 10, (5,5)), 
                   columns=['a', 'b', 'c', 'd', 'e'], 
                   index=['A', 'B', 'C', 'D', 'E'])
df3.ix[1, 1:4] = np.NaN
print(df3)
print("-----------------") 
mapping_dict = {'a':'Python', 'b':'Python', 'c':'Java', 'd':'C', 'e':'Java'}
print("size")
print(df3.groupby(mapping_dict, axis=1).size( ))
print("count")
print(df3.groupby(mapping_dict, axis=1).count( ))
print("sum")
print(df3.groupby(mapping_dict, axis=1).sum( ))

In [ ]:
#pandas026b.py

import pandas as pd
import numpy as np
a = pd.MultiIndex.from_arrays(
    [['Python', 'Java', 'Python', 'Java', 'Python'], ['A', 'A', 'B', 'C', 'B']],
    names=['language', 'index'])
df4 = pd.DataFrame(np.random.randint(1, 10, (5, 5)), columns=a)
print(df4)
print("-----------------")
print(df4.groupby(level='language', axis=1).sum( ))
print("-----------------")
print(df4.groupby(level='index', axis=1).sum( ))

In [ ]:
#pandas028.py

import pandas as pd
df = pd.read_csv('salesv3.csv',encoding="utf-8")
df["date"] = pd.to_datetime(df['date'])
print(df.head( ))
print("-------------")

In [ ]:
#pandas028a.py

import pandas028
a=pandas028.df.set_index('date').resample('M')["ext price"].sum( )
print(a)
print("-------------")
b=pandas028.df.set_index('date').groupby('name')["ext price"].resample("M").sum( )
print(b)

In [ ]:
#pandas028b.py

import pandas028
a=pandas028.df.groupby(['name', pandas028.pd.Grouper(key='date', freq='M')])['ext price'].sum( )
print(a)
print("-------------")
b=pandas028.df.groupby(['name', pandas028.pd.Grouper(key='date', freq='A-DEC')])['ext price'].sum( )
print(b)

In [ ]:
#pandas028c.py

import pandas028
a=pandas028.df[["ext price", "quantity"]].sum( )
b=pandas028.df["unit price"].mean( )
print(a)
print("-----------")
print(b)
print("-----------")
c=pandas028.df[["ext price", "quantity", "unit price"]].agg(['sum', 'mean'])
print(c)
print("-----------")

In [ ]:
#pandas028c-1.py

import pandas028
a=pandas028.df[["ext price", "quantity"]].sum( )
b=pandas028.df["unit price"].mean( )
print(a)
print("-----------")
print(b)
print("-----------")
# 設定浮點數顯示格式
pandas028.pd.set_option('display.float_format', lambda x: '%.2f' % x)
c=pandas028.df[["ext price", "quantity", "unit price"]].agg(['sum', 'mean'])
print(c)
print("-----------")

In [ ]:
#pandas028d.py

import pandas028
a=pandas028.df.agg({'ext price': ['sum', 'mean'], 
                    'quantity': ['sum', 'mean'], 
                    'unit price': ['mean']})
get_max = lambda x: x.value_counts(dropna=False).index[0]
b=pandas028.df.agg({'ext price': ['sum', 'mean'], 
                    'quantity': ['sum', 'mean'], 
                    'unit price': ['mean'], 
                    'sku': [get_max]})
print(a)
print("-----------")
print(b)
print("-----------")
get_max.__name__ = "most frequent"
c=pandas028.df.agg({'ext price': ['sum', 'mean'], 
                    'quantity': ['sum', 'mean'], 
                    'unit price': ['mean'], 
                    'sku': [get_max]})
print(c)
print("-----------")

In [ ]:
#q1.py

import pandas027
import numpy as np
grouped = pandas027.df.groupby('Team')
print(grouped.agg(np.size))

In [ ]:
#q2.py

import pandas027
import numpy as np
grouped = pandas027.df.groupby('Team')
print(grouped['Points'].agg([np.sum, np.mean, np.std]))